@charset «utf-8»;
/* CSS Document */

@media only screen and (max-width: 1199px) and (min-width: 958px){
    .blk2{
        width: 430px;
        margin-left: 35px;
    }
}

@media only screen and (max-width: 954px) and (min-width: 754px){
    .blk2{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 954px){
	.text-vertical-center img {
	    width: 30%;
	}
	.text-vertical-center h1, .text-vertical-center h3, aside.call-to-action.bg-primary h1, aside.call-to-action.bg-primary h2, aside.call-to-action.bg-primary h3{
		width: auto;
	}
	section#about .col-lg-12{
		width: auto;
	}
	.blk{
		margin-left: 50px;
	}
	.callout{
		width: 100%;
	}
}

@media only screen and (max-width: 754px){
    .text-vertical-center h1, .text-vertical-center h3, aside.call-to-action.bg-primary h1, aside.call-to-action.bg-primary h2, aside.call-to-action.bg-primary h3 {
        width: auto;
    }

    .text-vertical-center img {
        width: 80%;
    }

    .blk{
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    section#about .col-lg-12 {
        width: auto;
    }

    footer {
        padding: 0;
        float: none;
    }
}

@media only screen and (max-width: 454px){
    .text-vertical-center h1, .text-vertical-center h3, aside.call-to-action.bg-primary h1, aside.call-to-action.bg-primary h2, aside.call-to-action.bg-primary h3 {
        width: auto;
    }

    .text-vertical-center h1{
        font-size: 4em;
    }

    .text-vertical-center img {
        width: 80%;
    }

    .header{
        display: flex;
        align-items: center;
    }

    .callout {
        display: flex;
        height: 600px;
        align-items: center;
    }

    .portfolio-item{
        width: 350px;
        margin-right: auto;
        margin-left: auto;
    }

    .blk2{
        width: auto;
        margin: 0;
        float: none;
    }

    .blk{
        margin-left: 80px;
    }

    .text-vertical-center{
        display: block;
    }

    section#about .col-lg-12 {
        width: auto;
    }

    footer {
        padding: 0;
        float: none;
    }
}

@media only screen and (max-width: 454px) and (min-width: 321px){
    .blk{
        margin-left: 25px;
    }

}


@media only screen and (max-width: 320px){
    .text-vertical-center h1, .text-vertical-center h3, aside.call-to-action.bg-primary h1, aside.call-to-action.bg-primary h2, aside.call-to-action.bg-primary h3 {
        width: auto;
    }

    section#about .col-lg-12 {
        width: auto;
    }

    .text-vertical-center img {
        width: 90%;
    }
    .blk{
        margin-left: 0px;
    }

    footer {
        padding: 0;
        float: none;
    }
}